header {
    box-shadow: 2px 2px 10px #f1f1f1b0;
}

ul {
    padding:0px;
}

a {
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
}

#cart{
  color: grey;
  transition: all 300ms;
}

#cart:hover{
  color: orange;
}


header nav div .menu {
    float:left;
    text-decoration: none;
    list-style-type: none;
    width: 150px;
    height: 100%;
    text-align: center;
    /*border-bottom: 0px solid white;*/
    transition: border-bottom 400ms, background-color 300ms;
}

header nav div .menu:hover {
    /*border-bottom:5px solid rgba(26, 125, 255, 0.842);*/
    background-color: rgba(248, 204, 61, 0.100);
}

header nav div .menu li {
    width: 100%;
    line-height: 85px;
}

header nav div .menu li ul li {
    padding: 0px;
    list-style-type: none;
}

header nav div .menu li ul li a {
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-decoration: none;
    transition: all 200ms;
}

header nav div .menu li ul li a:hover {
    text-decoration: none;
    font-weight: bold;
}

#cart div{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Index Section */

#index_container {
  margin-top:80px;
}


/* MENÚ DESPLEGABLE */

.menu, .menu ul, .menu li, .menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
  }
  
  .menu {
    z-index:1;
    width: 60px;
    cursor: pointer;
    height: 100%;
  }
  
  .menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 100%;
  }
  
  .menu a {
    display: block;
    padding: 0 16px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
    
    color: rgb(194, 194, 194);
    
    /* border-left: 1px solid #393942;
    border-right: 1px solid #4f5058; */
    transition: color .2s ease-in-out;
  }
  
  .menu li:firs-child a {border-left: none;}
  .menu li:last-child a {border-right: none;}
  
  .menu li:hover > a {color: rgb(255, 255, 255)}
  
  .menu li ul {
    position: absolute;
    top: 85px;
    opacity: 0;
    border-radius: 0px 0px 5px 5px; 
    background-color: rgb(245, 180, 28);
    display:none;
    transition: opacity .20s ease .1s;
  }
  
  .menu li:hover > ul {
    opacity: 1;
    display:block;
  }
  
  .menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    
    transition: height .25s ease .1s;
  }
  
  .menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
  }
  
  .menu ul li a {
    width: 130px;
    padding: 4px 10px;
    margin: 0;
    border: none;
  
  }
  .menu ul li:last-child a { border: none; }
  
/* Item Count */
#item_count div {
  display: flex;
}

#item_count input{
  text-align: center; 
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

#item_count div a{
  margin: auto;
}

.icon:hover {
  
  transition: all 200ms;

}
.icon:hover {
  
  color:orange;

}
  

/*Item*/

.product-card {
  width: 250px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

#contenedor_imagen img{
  width:100%
}